*{
    margin: 0;
    padding: 0;
    font-family: 'Gentium Book Plus', serif;
}
.container {
    background-color: #030303;
    color: #fcfcfc;
    height: 100%;
    min-height: 100vh;
    min-width: 420px;
    max-width: 1440px;
    overflow: hidden;
    padding-bottom: 20px;
}
a{
    text-decoration: none;
    color: #a1a1a1;
}
a:hover{
    text-decoration: underline;
    color: #fcfcfc;
}
.nav-content a{
    color: #fcfcfc;
}
.container::after{
    clear: both;
    content: "";
    display: table;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: black;
    top: 0;
    padding: 10px 0px;
    box-shadow: 0px 1px 5px #585050;
}
.small_screen_header,
.nav-content{
    padding: 0px 15px;
}
header .nav-content{
    position: relative;
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.container .sections{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    flex-direction: column;
}
.container .sections .first_section,
.container .sections .second_section{
    width: 80%;
}
.container .sections .first_section{
    padding-bottom: 30px;
}
.container .sections .first_section h4{
    margin-top: 20px;
}
.container .sections .first_section .icons{
    margin-top: 20px;
    display: flex;
    max-width: 120px;
    justify-content: space-between;
    align-items: flex-start;
}
.container .sections .second_section{
    border-top: 1px dashed #a1a1a1;
    padding-top: 30px;
}
.container .sections .second_section p{
    padding-top: 20px;
}
.container .sections .second_section .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 130px;
    gap: 70px;
    margin-bottom: 70px;
    margin-top: 30px;
    align-items: stretch;
    width: 100%;
}
.container .sections .second_section .projects .eachProject{
    width: 100%;
    padding:20px 0px;
    min-width: 200px;
    padding-left: 20px;
    max-width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100%;
    border: 1px solid #757474;
}
.container .sections .second_section .projects .eachProject:hover{
    box-shadow: 0px 1px 12px #757474;
}
.container .sections .second_section .projects .eachProject p{
    color: #fcfcfc;
}
.container .sections .second_section .projects .eachProject .details{
    padding: 10px;
}
.container .sections .second_section .projects .eachProject img{
    width: 20%;
    height: 60%;
    object-fit: cover;
    
}
.small_screen_header nav{
    display: none;
}
.container .sections .skills{
    width: 80%;
    margin-top: 20px;
}
.container .sections .skills ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px 0px 0px 10px;
    gap: 10px;
    justify-items: start;
}
@media screen and (max-width:1000px){
    .container .sections .second_section .projects{
        grid-template-columns: 1fr;
    }
    .container .sections .second_section .projects .eachProject{
        margin-top: 20px;
    }
}
@media screen and (max-width:600px){
    .small_screen_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .small-screen{
        padding-top: 120px !important;
    }
    header .nav-content{
        display: flex;
        position: absolute;
        top: 40px;
        width: 100%;
        justify-content: space-evenly;
        background-color: #030303;
        padding-bottom: 30px;
        padding: 20px;
        box-shadow: 0px 1px 5px #585050;
    }
    .nav-content.hidden{
        display: none;
    }
    .small_screen_header nav{
        display: block;
    }
    .container .sections .skills ul{
        grid-template-columns:1fr 1fr;
    }
}